*
{
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background-color: wheat;
}
h1
{
    margin-top: 5px;
    color: maroon;
}

.conteiner8
{
    display: flex;
    padding: 40px;
}

.grup
{
    width: 700px;
    margin-left: 560px;
    margin-top: 20px;
    margin-bottom: 9px;
}

.titulo2
{
    margin-top: 5px;
    color: rgb(126, 34, 34)
}
.tiitulo
{
    color: rgb(126, 34, 34)
}
.destaque
{
    background-color: sienna;
    color: tan;
    border-radius: 2px;
}
.cabeçalho
{
    color: sienna;
    display: flex;
    justify-content: space-around;
    padding: 16px;
    margin-top: 5px;
    align-items: center;
}
a
{
    color: darkred;
    text-decoration: none;
}
a:hover
{
    background-color: sienna;
    border-radius: 6px;
}
.video
{
    padding: 100px 300px;
    text-align: center;
}
.video img
{
    width: 800px;
    height: 400px;
}

.link
{
    color: white;
    text-decoration: none;
}
.link:hover
{
    background-color: black;
    border-radius:  6px;
}

.text1
{
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 42px 60px;
    margin: 10px 10px;
    align-items: center;
    line-height: 130%;
    border: solid black 4px;
    border-radius: 6px;
    
}
.text2
{
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 42px 60px;
    margin: 10px 20px;
    align-items: center;
    line-height: 130%;
    border: solid black 4px;
    border-radius: 6px;
}

.text3
{
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 42px 60px;
    margin: 10px 10px;
    align-items: center;
    line-height: 130%;
    border: solid black 4px;
    border-radius: 6px;

}

.album
{
    width: 170px;
}
.gurp
{
   width: 170px;
}
footer
{
    background-color: tan;
    text-align: center;
}
